@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply transition-colors duration-300;
  }
}
@layer base{
  @font-face {
    font-family: eb-garamond;
    src: url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,797;1,797&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  }
}

@layer components {
  .btn-primary {
    @apply bg-gray-800 hover:bg-gray-700 text-white px-6 py-3 rounded-lg font-medium transition-all duration-300 hover:scale-105 hover:shadow-lg;
  }

  .btn-secondary {
    @apply bg-transparent border-2 border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white px-6 py-3 rounded-lg font-medium transition-all duration-300;
  }

  .dark .btn-secondary {
    @apply border-white text-white hover:bg-white hover:text-gray-800;
  }
}